<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: setFragment(~{this::content})}">
  <th:block th:fragment="content" th:with="auth=${#authentication.getPrincipal()}">
    <th:block th:with="bvo=${bdto.bvo}">
    <div class="container-sm">
      <h1>Board Detail Page</h1>
      <form action="/board/modify" method="post" id="modForm">
        <input type="hidden" name="bno" th:value="${bvo.bno}">
        <div class="my-3">
          <label for="created">Created At : </label>
          <input type="text" class="form-control" id="created" th:value="${bvo.regAt}" readonly>
        </div>
        <div class="mb-3">
          <label for="modified">Modified At : </label>
          <input type="text" class="form-control" id="modified" th:value="${bvo.modAt}" readonly>
        </div>
        <div class="mb-3">
          <label for="title">Title : </label>
          <input type="text" class="form-control" id="title" name="title"
                 th:value="${bvo.title}" readonly>
        </div>
        <div class="mb-3">
          <label for="writer">Writer : </label>
          <input type="text" class="form-control" id="writer" name="writer"
                 th:value="${bvo.writer}" readonly>
        </div>
        <div class="mb-3">
          <label for="content">Content : </label>
          <textarea name="content" id="content" cols="50" rows="5"
                    class="form-control" readonly>[[${bvo.content}]]
                    </textarea>
        </div>
<!--        파일 출력 라인-->
        <div class="mb-3">
        <ul class="list-group list-group-flush">
          <li th:each="fvo: ${bdto.flist}" class="list-group-item">
            <div th:if="${fvo.file_type > 0}" class="ms-2 me-auto">
              <img th:src="@{|/upload/${fvo.save_dir}/${fvo.uuid}_th_${fvo.file_name}|}">
            </div>
            <div th:unless="${fvo.file_type > 0}" class="ms-2 me auto">
<!--              파일모양 아이콘-->
            </div>
            <div class="ms-2 me-auto">
              <div class="fw-bold">[[${fvo.file_name}]]</div>
              [[${fvo.reg_date}]]
            </div>
            <span class="badge bg-dark rounded-pill">[[${fvo.file_size}]]Bytes</span>
          </li>
        </ul>
        </div>


        <button type="button" id="listBtn" class="btn btn-outline-primary">List</button>
          <!-- 디테일페이지 에서 모디파이페이지 상태로 변경하기 위한 버튼-->
        <button type="button" id="modBtn"  class="btn btn-outline-warning">Modify</button>
        <button type="button" id="delBtn" class="btn btn-outline-danger">Remove</button>
      </form>
      <form action="/board/remove" method="post" id="delForm" style="display:none">
      <input type="hidden" name="bno" th:value="${bvo.bno}">
      </form>

<!--    comment line    -->
        <div class="input-group mb-3">
            <span class="input-group-text" id="cmtWriter">[[${auth.mvo.nickName}]]</span>
            <input type="text" id="cmtText" class="form-control"
                placeholder="댓글을 입력하세요." aria-label="Username"
                aria-describedby="basic-addon1">
            <button type="button" id="cmtAddBtn" class="btn btn-secondary">댓글
                등록</button>
        </div>

<!--     spreadline   -->
        <ul class="list-group list-group-flush" id="cmtListArea">
            <li class="list-group-item">
                <div class="input-group mb-3">
                    <div class="fw-bold">Writer</div>
                    content
                </div>
                <span class="badge rounded-pill text-bg-info">ModAt</span>
            </li>
        </ul>

        <!-- 댓글 더보기 버 -->
        <div>
            <button type="button" id="moreBtn" data-page="1" class="btn btn-outline-success" style="visibility : hidden">MORE +</button>
        </div>

        <!-- 모달  -->
        <div class="modal" id ="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modWriter"></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" id="cmtTextMod" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="cmtModBtn">modify</button>
                    </div>
                </div>
            </div>
        </div>



    </div>
        <script th:inline="javascript">
            const bnoVal = [[${bvo.bno}]]
            console.log(bnoVal);
        </script>
    <script th:src="@{/js/boardDetail.js}"></script>
        <script th:src="@{/js/boardComment.js}"></script>
        <script>
            spreadCommentList(bnoVal);
        </script>

    </th:block>
  </th:block>
</th:block>